*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #0b132b;
}

.playing-area{
    width: 40vw;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background-color: #1c2541;
    border-radius: 10px;
    padding: 50px;
}

.game-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playing-area h3{
    font-size: 36px;
    color: #dfdfdf;
    padding-bottom: 32px;
}

.playing-btn{
    font-size: 20px;
    padding: 12px 36px;
    cursor: pointer;
    border-radius: 5px;
    color: #dfdfdf;
    background-color: #3a506b;
}

.playing-btn:hover{
    background-color: #56769c;
    transition: 0.3s ease-in-out;
}

.choices{
    display: flex;
    gap: 20px;
}

.score-area{
    width: 20vw;
    border-radius: 10px;
    padding: 50px;
    background-color: #1c2541;

}

.score-area h3{
    font-size: 30px;
    color: #dfdfdf;
    margin-bottom: 30px;
    border-bottom: 1px solid;
}


.scorecard{
    font-size: 20px;
    color: #b9b9b9;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.hide{
    display: none;
}

.start-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-game h3{
    text-align: center;
}

.start-game-btn{
    padding: 12px 36px;
    font-size: 30px;
    background-color: #3a506b;
    cursor: pointer;
    color: #b9b9b9;
    border-radius: 5px;
}


.start-game-btn:hover{
    background-color: #56769c;
    transition: 0.3s ease-in-out;
}


.current-result{
    margin-top: 30px;
    display: flex;
    color: #b9b9b9;
    font-size: 20px;
    text-align: center;
    gap: 5px;
    flex-direction: column;
}

.current-result> div > span{
    color: #dfdfdf;
    font-weight: bold;
}

.final-result{
    text-align: center;
    font-size: 40px;
    color: #dfdfdf;
}

@media (width < 1160px) {
    .main-container{
        flex-direction: column-reverse;
    }

    .playing-area{
        width: 60vw;
    }

    .score-area{
        width: 60vw;
    }

    
    
}

@media (width < 820px) {
    .playing-area{
        width: 80vw;
    }

    .playing-btn {
        font-size: 18px;
        padding: 8px 24px;
    }

    .score-area{
        width: 80vw;
    }

    .score-area h3{
        font-size: 26px;
        margin-bottom: 20px;
    }

    .playing-area h3 {
        font-size: 30px;
        padding-bottom: 28px;
    }

    .start-game-btn {
        padding: 10px 30px;
        font-size: 24px;
    }

    .current-result {
        margin-top: 20px;
        font-size: 16px;
    }

    @media (width < 540px) {
        
    .choices {
        flex-wrap: wrap;
    }

    .playing-btn{
        flex: 1;
    }

    }
    
}